:root {
  --header-height: 3.5rem;

  --hue-color: 120;
  --font-color: 60;
  --data-color: 220;

  --body-background: #e3d5ca;
  --card-color: rgb(255, 255, 255, 0.3);
  --white-color: #fff;
  --black-color: #000000;
  --color-title: #e3d5ca;
  --button-color: #002147;
  --hover-link: #ffd700;

  --black-color-content: rgb(0, 0, 0, 0.9);
  --background-haedder: rgba(0, 0, 0, 0.7);
  --background-haeder-principale: #184e8b;

  --font-mini: 400;
  --biggest-font-size: 5rem;
  --biggers-font-size: 3.5rem;
  --bigger-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;

  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-2-2-2: 2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-background);
  font-weight: var(--font-mini);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border-radius: 0;
  cursor: pointer;
  outline: none;
}

.haeder_title_base {
  background: var(--background-haeder-principale);
  padding: 0 2rem 0 2rem;
  z-index: var(--z-2-2-2);
  height: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  color: white;
  background: rgb(0, 33, 71, 0.3);
}

.logo_uou {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}

.logo_uou img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.haeder_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
}

.haeder_title2 {
  color: yellow !important;
}
.haeder_title3 {
  color: green;
}

.nav_items {
  height: 5rem;
  position: relative;
  background: #002147;
  color: white;
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.nav_items.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.nav_items h1 {
  height: 100%;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list {
  padding: 0 2rem 0 2rem;
  height: 100%;
  display: flex;
  gap: 1.4rem;
  justify-content: center;
  align-items: center;
}
.nav_link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.nav_link a {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: white;
  white-space: nowrap;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.nav_link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #ffd700;
  transition: width 0.3s ease;
}

.nav_link a:hover {
  color: #ffd700;
}

.nav_link a:hover::after {
  width: 100%;
}

.list_roulant {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: right 1s ease;
  height: 25rem;
  width: 30%;
  top: 9rem;
  right: -100%;
  transition: 1s all;
  background: #184e8b;
}
.list_roulant.fixed {
  position: fixed;
  display: flex;
  top: 5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.list_roulant.active {
  right: 0;
}

.items_roulant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 1rem;
  gap: 1rem;
}

.link_roulant {
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.link_roulant a {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.link_roulant a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #ffd700;
  transition: width 0.3s ease;
}

.link_roulant a:hover {
  color: #ffd700;
}

.link_roulant a:hover::after {
  width: 100%;
}

.overview {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 34rem;
  margin-bottom: 5rem;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  display: block;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  align-items: center;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
  background: rgb(0, 0, 0);
  color: var(--white-color) !important;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: 700 !important;
  font-size: 25px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgb(0, 0, 0, 0.3);
  color: var(--white-color) !important;
}

.overview_content_1 {
  background-image: url("/img/student_present.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content1 {
  position: absolute;
  margin: auto;
  width: 80%;
  height: 80%;
  padding: 0.6rem;
  display: flex;
  top: 10%;
  right: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.slide-content .slide-content_title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 4rem;
  color: var(--white-color);
}

.overview_content_2 {
  background: url("/img/rencontre.jpeg") no-repeat center center/cover;
  background-size: 100%;
  background-position: start;
  display: flex;
  align-items: center;
  justify-content: center;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.content2 {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0, 0.3);
  color: white;
  gap: 5rem;
}

.slide-content .slide-content_title2 {
  display: flex;
  font-size: 3rem;
  background: rgb(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 1rem;
  /* font-weight: 500; */
}

.overview_content_3 {
  background-image: url("/img/student_uou_4.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: start;
  background-size: 100%;
}
.content3 {
  /* position: absolute; */
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: rgb(0, 0, 0, 0.3);
  color: white;
}

.slide-content .slide-content_title3 {
  color: var(--black-color);
  display: flex;
  height: 5rem;
  border-radius: 0.8rem;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  background: rgb(0, 0, 0, 0.6);
  color: var(--white-color);
  font-size: 2rem;
  top: 1rem;
}

.slide-content .slide-content_title2:hover,
.slide-content .slide-content_title3:hover,
.slide-content .slide-content_descri1:hover {
  background: rgb(0, 0, 0, 0.7);
}

.swiper-slide .slide-content h2 {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.4s ease;
}

.swiper-slide .slide-content h2.animate {
  opacity: 1;
  transform: translateX(0);
}

.apercu_content_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.9em;
}

.apercu {
  padding: 1rem;
  position: relative;
  display: flex;
  gap: 1rem;
}
.apercu_div {
  padding: 0.8rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  height: 30rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255, 0.4);
  flex: 1;
}
.apercu_div_img {
  width: 100%;
  height: 100%;
  background-image: url("/img/student_uou.jpg");
  object-fit: cover;
  background-size: 100%;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
}

.uou {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding: 0.3rem;
  border-radius: 1rem;
  box-shadow: 2px solid black;
  margin-bottom: 1rem;
}
.uou .uou_title {
  color: var(--black-color);
  width: 100%;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0.4rem;
}
.uou .uou_description {
  color: var(--black-color);
  font-size: 1.2rem;
  line-height: 1.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.apercu_container {
  margin-bottom: 2rem;
  padding: 1rem;
  height: 30rem;
  flex: 1;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
}

.card-list .card-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  border-radius: 1rem;
  background: rgb(255, 255, 255, 0.4);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  height: 99%;
  padding: 0.6rem;
}

.card-list .card-item .contour_img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 150px;
  width: 150px;
  border-radius: 50%;
  border: #002147 solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent !important;
}

.card-list .card-item .user-image {
  border-radius: 1rem;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card-list .card-item .user-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--black-color);
  font-weight: 600;
  margin-bottom: 1rem;
}
.card-list .card-item .user-profssion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  color: #555;
  font-weight: 500;
  margin-bottom: 1rem;
}

.overview_description {
  bottom: 1rem;
  display: flex;
  width: 70%;
  height: 7rem;
  margin: auto;
  margin-bottom: 2rem;
  background: rgb(255, 255, 255, 0.5);
  border-radius: 1rem;
  justify-content: space-evenly;
  padding: 1rem;
  align-items: center;
}

.content_counter {
  font-size: 1.8rem;
}



#counter {
  font-size: 1.8rem;
}




.achieve_icon {
  margin-top: 1rem;
  font-size: 3rem;
  color: var(--black-color);
  margin-bottom: 2rem;
}

.achieve-dreams-title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-haedder);
  margin-bottom: 2rem;
}
.flexible-programs-title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-haedder);
  margin-bottom: 2rem;
}
.adapted-programs-title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-haedder);
  margin-bottom: 2rem;
}

.achieve-dreams-section,
.adapted-programs {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  background: rgb(255, 255, 255, 0.3);
  color: var(--black-color);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.flexible-programs {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  background: rgb(255, 255, 255, 0.3);
  color: var(--black-color);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.flexible-programs:hover,
.adapted-programs:hover,
.achieve-dreams-section:hover {
  background: rgb(255, 255, 255, 0.9);
  transition: background-color 0.3s ease;
}

.news_title {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-haedder);
  margin-bottom: 3rem;
}

.news {
  margin-top: 3rem;
  margin-bottom: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

.news_div {
  display: flex;
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.news_div_img {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news_div_img:hover {
  transform: translateY(-5px);
}

.news_div_img img {
  border-radius: 1rem;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.news_div_img p {
  margin-top: 0.8rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.news_div_btn,
.news_info_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--black-color);
  width: 80%;
  border-radius: 0.7rem;
  padding: 0.8rem;
  cursor: pointer;
  background: #002147;
  transition: 0.7s ease;
  color: var(--white-color);
}

.news_div_btn:hover,
.news_info_btn:hover {
  background: var(--white-color);
  color: var(--black-color);
}

/* ___________________________________EVENTS______________________________________________  */

.events_title {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--background-haedder);
}

.events {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: space-around;
}

.events_img_div {
  display: flex;
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.events_img_background {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.events_img_background:hover {
  transform: translateY(-5px);
}

.events_img_background img {
  border-radius: 1rem;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-top: 2rem;
}
.events_description_basic {
  padding: 1rem;
  color: var(--black-color);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.btn-more {
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-more:hover {
  background-color: #2563eb;
}

.domaine_uou_description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 1rem;
  color: var(--background-haedder);
  font-size: 2rem;
}

.domaine {
  padding: 10px 0;
  overflow-x: hidden;
  margin-bottom: 2rem;
}

.domaine_description_domaine {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.domaine_description {
  color: var(--white-color);
  margin-bottom: 2rem;
}

.description_faculty {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  gap: 0.8rem;
  box-sizing: border-box;
  background: rgb(255, 255, 255, 0.7);
  padding: 0.2rem;
}

.description_agri_img,
.description_medecine_img,
.description_droit_img,
.description_economie_img,
.description_psychologie_img,
.description_architecture_img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-radius: 6px;
  display: flex;
}

.description_medecine_para,
.description_droit_para,
.description_economie_para,
.description_archi_para,
.description_psychologie_para,
.description_agri_para {
  display: flex;
  width: 100%;
  padding: 0.2rem;
}

.description_agriculture,
.description_medecine,
.description_droit,
.description_economie,
.description_psychologie,
.description_architecture {
  height: 60%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  /* overflow: hidden; */
  gap: 0.6rem;
  margin-top: 8px;
}

.btn-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 80%;
  font-size: 13px;
  background: #002147;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.6s ease;
  margin-bottom: 0.8rem;
}

.btn-toggle:hover {
  background: #09386d;
}

.hidden {
  display: none;
}

.description_faculty.fullscreen {
  flex-direction: row;
  padding: 1rem;
  gap: 1.5rem;
}

.description_faculty.fullscreen img {
  width: 40%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.description_faculty.fullscreen > div {
  flex: 1;
}
.description_faculty.fullscreen:hover {
  transform: none;
  box-shadow: none;
  transition: 0.6s ease;
  cursor: default;
}

.btn-retour {
  margin-top: 16px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  border: 2px 2px white;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
  transform: translateX(300%);
  transition: 1s ease;
  background: #002147;
}

.btn-retour:hover {
  background: none;
  color: var(--black-color);
}

.content_team_faq {
  display: flex;
  gap: 1rem;
  height: 28rem;
  margin-bottom: 3rem;
}

.faq {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
}
.faq_container {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.faq_question {
  width: 100%;
  padding: 1rem;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 0.8rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.faq_answer {
  padding: 0.8rem 1rem;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  width: 99%;
  display: none;
}

.faq_answer.active {
  display: inline-block;
}

.team_container_div {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
}

.team {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.team_title {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 1rem;
}

.team_title h2 {
  margin-bottom: 0.3rem;
}

.team_container {
  margin-top: 2rem;
  position: relative;
  margin-bottom: 1rem;
}

.team_member {
  display: flex !important;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.team_photo {
  display: flex;
  width: 150px;
  height: 150px;
  place-content: center;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.team_name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.team_role {
  font-size: 1rem;
  color: #555;
}

.container_footer {
  background: #184e8b;
  display: flex;
  flex-direction: column;
}

.footer_content {
  display: flex;
  background: #002147;
  padding: 0 1rem 0 1rem;
  color: white;
  border-bottom: 1px solid var(--white-color);
}

.copy_msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  background: #002147;
  color: white;
}

.contactez_nous {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  width: 100%;
}
.contactez_nous_title {
  position: relative;
  display: flex;
  text-transform: uppercase;
  margin-bottom: 1rem;
  top: 0.9rem;
  font-size: 2rem;
  color: var(--white-color);
}

.contact_intro {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
  top: 1rem;
  color: var(--white-color);
}
.contactez_nous form {
  border-radius: 1rem;
  position: relative;
  display: flex;
  gap: 0.2rem;
  padding: 1rem;
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.contactez_nous input {
  margin-top: 0.5;
  width: 70%;
  padding: 0.8rem;
  border: 2px solid var(--black-color);
  border-radius: 10px;
  background: var(--body-background);
  color: black;
}
.contactez_nous input:focus {
  background: var(--background-haedder);
  color: var(--white-color);
  border: 2px solid var(--white-color);
}

.send_msg {
  padding: 0.8rem;
  width: 7rem;
  background-image: url("/img/Picsart_25-07-26_23-24-24-122.png");
  color: black;
  background: var(--background-haedder);
  color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 0.7rem;
  cursor: pointer;
  transition-duration: 1s;
}

.send_msg:hover {
  background: transparent;
  color: var(--white-color);
}

.content_description {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
  margin-bottom: 1rem;
}

.footer_title {
  display: flex;
}

.title1 {
  color: white;
}

.title2 {
  color: yellow;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.title3 {
  color: green;
}

.footer_description {
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  width: 70%;
}
.reseaux_list {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 2rem;
  align-items: center;
}

.reseaux_link {
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(69, 69, 135, 0.3);
  border-radius: 4px;
}

.reseaux_link i {
  font-size: 1.4rem;
  transition: 0.6s all;
  padding: 0.3rem;
  cursor: pointer;
}
.reseaux_link:hover {
  background: rgb(28, 28, 126, 0.7);
  color: yellow;
}

.footer_title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.content_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem;
  margin-bottom: 1rem;
  flex: 1;
}

.link_title {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.footer_itmes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footer_link {
  padding: 0.5rem;
}

.footer_link .link_redirect {
  height: 100%;
  transition: 0.5s all;
}

.link_redirect:hover {
  color: #ffd700;
}
.footer_link .link_redirect {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.footer_link .link_redirect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #ffd700;
  transition: width 0.3s ease;
}

.footer_link .link_redirect:hover {
  color: #ffd700;
}

.footer_link .link_redirect:hover::after {
  width: 100%;
}

.content_contacts {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  flex: 1;
  margin-bottom: 1rem;
}

.content_contacts h3 {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contacts_item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contacts_link,
.contacts_link_div {
  cursor: pointer;
  font-size: 1.1rem;
}

.contacts_link:hover,
.contacts_link_div:hover {
  color: #ffd700;
}

.content_assistance {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1.2rem;
  padding: 0.8rem;
}

.content_assistance .assistance_title {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.content_assistance .contacts_assitance {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.content_assistance p {
  cursor: pointer;
  margin-bottom: 0.8rem;
}

.content_assistance p:hover {
  color: #ffd700;
}


.btnToggleRoulant {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: white;
}

.btnToggleRoulant .icon-close {
  display: none;
}

.btnToggleRoulant.active .icon-menu {
  display: none;
}

.btnToggleRoulant.active .icon-close {
  font-weight: 200;
  display: inline;
}




.btnToggleRoulant,
.list_roulant {
  display: none;
}

.return_btn {
  font-size: 1.6rem;
  font-weight: 200;
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  height: 2rem;
  width: 3rem;
  /* padding: .1rem; */
  position: fixed;
  z-index: 2;
  right: 2rem;
  bottom: 1rem;
  padding: 0.4rem;
  border: 2px solid var(--black-color);
  border-radius: 5px;
  transition: 0.6s;
}
.return_btn:hover {
  background: none;
}
